# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
ENV/
env/
.venv/

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Mac / Windows system files
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/

# Environment files
.env
